* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: url(https://images.unsplash.com/photo-1576290134419-915a21939122?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding-inline: 2em;
}

button {
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all ease-in 250ms;

  &:hover {
    box-shadow: 1px 1px 2px gray;
    transform: scale(1.05);
  }
}

img {
  width: 150px;
  height: 60px;
  object-fit: contain;
}

h1,
h2,
p,
strong {
  color: #342e2e;
}
