.job_list {
  max-width: 800px;
  width: 100%;
  padding: 0;
}

.job_list_item {
  background: whitesmoke;
  margin-block: 4em;
  padding: 3em 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;

  header {
    display: grid;
    grid-template-columns: auto 150px;
    position: relative;
  }

  .read_more {
    position: absolute;
    top: -3.5em;
    right: -2.5em;
    font-size: 16px;
    width: 150px;
    background: #548c64;
    border: 1px solid rgba(57, 57, 57, 0.488);
    box-shadow: 1px 1px 2px black;
    color: white;

    &:hover {
      color: rgba(0, 0, 0, 0.639);
      border: 1px solid rgba(0, 0, 0, 0.523);
    }
  }

  img {
    margin-top: 1em;
  }
}
